<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Sierra Circulation Report</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
    </style>
</head>
<body>

<h1 align="center">Sierra Embedded Charts</h1>
<div style="width: 48%; float:left;">{{home_libraries_chart}}</div>
<div style="width: 48%; float:right;">{{trans_types_chart}}</div>
<div style="width: 48%; float:left;">{{ptypes_chart}}</div>
<div style="width: 48%; float:right;">{{item_locations_chart}}</div>
<div style="width: 48%; float:left;">{{itypes_chart}}</div>
<div style="width: 48%; float:right;">{{time_chart}}</div>

</body>
</html>